button {
  background-color: #1d37fc;
  color: #fff;
  border: 1px solid #1d37fc;
  padding: 0.5em 0.75em;
  border-radius: 0.3em;
  font-size: 1.2rem;
  box-shadow: 0 1px 5px #5e5e5e;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

button.gradient {
  background: linear-gradient(90deg, #1d37fc, #1647e9, #1d37fc);
  background-size: 200% 200%;
  -webkit-animation: animateGradient 2s infinite;
  -moz-animation: animateGradient 2s infinite;
  animation: animateGradient 2s infinite;
}

button:hover {
  background-color: #687afd;
  border-color: #4f63fc;
}

button[disabled] {
  background-color: #b2b5ca;
  color: #e9e9ec;
  border-color: #e9e9ec;
  cursor: not-allowed;
}

button.gradient[disabled] {
  background: linear-gradient(90deg, #b2b5ca, #8e98b7, #b2b5ca);
  background-size: 200% 200%;
  border-color: #b2b5ca;
}

@keyframes animateGradient {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
